<footer class="footer">
  <nav class="footer-navigation | container">
    <a href="#"><img src="/assets/images/logo-white.svg" alt="Logo" /></a>
    <ul
      id="footer-navigation"
      role="list"
      class="nav-list"
      aria-label="footer navigation"
    >
      <li>Features</li>
      <li>Link Shortening</li>
      <li>Branded Links</li>
      <li>Analytics</li>
      <li>Resources</li>
      <li>Blog</li>
      <li>Developers</li>
      <li>Support</li>
      <li>Company</li>
      <li>About</li>
      <li>Our Team</li>
      <li>Careers</li>
      <li>Contact</li>
    </ul>
    <ul
      id="social-links"
      role="list"
      class="social-links"
      aria-label="social links list"
    >
      <li>
        <img src="/assets/images/icon-facebook.svg" alt="facebook icon" />
      </li>
      <li><img src="/assets/images/icon-twitter.svg" alt="twitter icon" /></li>
      <li>
        <img src="/assets/images/icon-pinterest.svg" alt="pinterest icon" />
      </li>
      <li>
        <img src="/assets/images/icon-instagram.svg" alt="instagram icon" />
      </li>
    </ul>
  </nav>
</footer>
